# Configurações do Servidor
PORT=3000

# Google Sheets API (Service Account)
# Pegue esses dados no painel do Google Cloud ou no cofre de senhas da equipe
GOOGLE_CLIENT_EMAIL="conta-de-servico@seu-projeto.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# ID da Planilha usada como Banco de Dados
SPREADSHEET_ID="inserir_id_aqui"